footer,.rodape {
  background-color: #0511f22a;
  margin-top: auto;
  color: #cccccc9a; 
  text-align: center;
  border:none;
  }
  
  
  .link{
    text-decoration:none;
    color: #cccccc9a; 
  }

  .link:hover{
    color:#ccc;
  }

 

  

 
  